/*!
 * BEE Override styles
 */

body {
    background-color: #04DAFF;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
}

.navbar {
    margin: 0;
}

.navbar-default {
    margin: 0;
}

.navbar-inverse {
    border-color: #242424;
    margin: 0;
}

.page-header {
    border-bottom: 0px solid #eee;
}

.row {
    margin: 0;
    padding: 0;
}

.page-header {
    padding-bottom: 0px;
    margin: 0;
    border-bottom: 0px solid #dddddd;
}

.header-block {
    padding:0;
    margin:0 auto 0 auto;
    background-color:#04DAFF;
    color:#fff;
    font-family:Avenir, Verdana;
    font-size:2.0em;
    font-weight:bold;
    text-align:center;
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .container-fluid {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.col-xs-12 {
    margin: 0;
    padding: 0;
}
.col-sm-4 {
    margin: 0;
    padding: 0;
}
.col-md-3 {
    margin: 0;
    padding: 0;
}
.col-lg-2 {
    margin: 0;
    padding: 0;
}
.col-xl-1 {
    margin: 0;
    padding: 0;
}

.row-container, .about-row-container, .contact-row-container, .merch-row-container, .fish-tank-row-container {
    border:10px solid black;
    padding:25px;
    margin:20px auto 0 auto;
    background-color:#fff;
    width:80%;
    text-align:center;
}
.fish-tank-row-container {
    margin-top:0;
}
.about-row-container {
    margin-top:0;
}
.contact-row-container {
    margin-top:0;
    padding:20px;
    width:30%;
    text-align:left;
    font-size:1.8em;
    font-weight:bold;
}
.merch-row-container {
    margin-top:0;
    padding:20px;
    width:30%;
    text-align:left;
    font-size:1.8em;
    font-weight:bold;
}
.video-container {
    margin-top:0;
    padding:20px;
}
.resource-container {
    margin-top:0;
    padding:20px;
}
.work-image {
    border:10px solid #fff;
    margin:0;
    background-color:#000;
    padding:10px;
}
.about-left {
    width:50%;
    float:left;
}
.about-right {
    width:50%;
    float:right;
    text-align:left;
    padding:20px;
    font-size:1.2em;
    font-weight:bold;
}
.about-left-img {
    width:100%;margin-left:-30px;
}
.center-wrap-text {
    text-align:center;
    word-wrap:break-word;
}
.center-text {
    text-align:center;
}
.panel-title {
    color: #fff;
    text-align: center;
    font-weight:bold;
    font-size: 2.0em;
    margin: 50px 0 20px 0;
}
.go-top {
    color: #fff;
    text-align: right;
    font-weight:bold;
    font-size: 1.6em;
    margin-right: 20px;
    cursor: pointer;
}
.white-link {
    color: #fff;
    padding: 0 20px 0 20px;
}
.white-link:hover, .white-link:visited, .white-link:active {
    color: #fff;
    text-decoration: none;
    border-bottom: 10px;
    border-bottom-color: black;
}
.white-link-hover {
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    cursor: pointer;
}
.social-icon {
    width: 20px;
    margin: 4px;
}